<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /smart_care/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /smart_care/index.html [L]
</IfModule>

# Enable CORS if needed
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

# Cache control for static assets
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico|woff|woffttf|svg)$">
  Header set Cache-Control "max-age=31536000, public"
</FilesMatch>